.footer {
  background-color: #150e07;
  max-width: 1920px;
  margin: 0 auto;
}

.container-footer {
  padding-top: 50px;
  padding-bottom: 63px;
  display: flex;
  margin: 0 auto;
  width: 1146px;
  align-items: center;
  justify-content: space-between;
}

.footer-initial-text {
  width: 561px;
  height: auto;
  border-right: 1px solid #dddddd;
}

.footer-initial-text h4 {
  width: 304px;
  height: 26px;
  font-family: "DM Serif Text";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #ffffff;
}

.footer-initial-text p {
  width: 430px;
  height: 20px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #999999;
}

.input-footer {
  display: flex;
  overflow: hidden;
  padding-bottom: 0;
}

.input-footer input {
  width: 455px;
  height: 51px;
  border: 1px solid #eeeeee;
  margin-left: 0;
  padding-left: 13px;
  height: 53px;
}

.botao-email-footer {
  background-color: #c19b76;
  border: none;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0%;
  cursor: pointer;
  height: 53px;
  width: 105px;
}

.modal-confirmacao,
.modal-erro {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #c19b76;
  z-index: 2;
}

.modal-content {
  background-color: #fff;
  padding: 0;
  border-radius: 10px;
  width: 90%;
  max-width: 450px;
  text-align: center;
  position: relative;
}

.modal-content h3 {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 24px;
  line-height: 23px;
  letter-spacing: 0%;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.modal-content p {
  font-family: "DM Serif Text";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #1f1e1e;
  margin-bottom: 10px;
}

.modal-header-sucesso {
  background: #28a745;
  font-size: 70px;
  color: white;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-header-erro {
  background: #dc3545;
  font-size: 70px;
  color: white;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.barra-central-footer {
  width: 1146px;
  height: 1px;
  background-color: #d3d3d3;
  margin: 0 auto;
}

.container-desc-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1146px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.desc-footer {
}

.desc-footer img {
  width: 170px;
  height: 35px;
  margin-bottom: 22px;
  margin-top: 36px;
}

.desc-footer p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #999999;
  padding-right: 0;
}

.footer-icons a img {
  height: 28px;
  width: 26px;
  margin-right: 3px;
}

.desc-footer-links {
  padding-right: 0;
}

.desc-footer-links h4,
.desc-footer-acomodacoes h4,
.desc-footer-faleconosco h4 {
  font-family: "DM Serif Text";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0%;
  color: white;
  margin-bottom: 21px;
  margin-top: 30px;
}

.desc-footer-links ul,
.desc-footer-acomodacoes ul,
.desc-footer-faleconosco ul {
  padding-left: 0;
  margin-left: 0;
}

.desc-footer-links ul li,
.desc-footer-acomodacoes ul li,
.desc-footer-faleconosco ul li {
  list-style: none;
  margin-bottom: 12px;
}

.desc-footer-links ul li a,
.desc-footer-acomodacoes ul li a {
  text-decoration: none;
  font: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #999999;
}

.desc-footer-acomodacoes {
  padding-right: 0;
}

.desc-footer-acomodacoes h4 {
  font-family: "DM Serif Text";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0%;
  color: white;
  margin-top: 30px;
  margin-bottom: 21px;
}

.desc-footer-acomodacoes ul li {
  list-style: none;
  margin-bottom: 12px;
}

.desc-footer-acomodacoes ul li a {
  list-style: none;
  text-decoration: none;
  font: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #999999;
}

.desc-footer-faleconosco h4 {
  font-family: "DM Serif Text";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0%;
  color: white;
  margin-top: 30px;
  margin-bottom: 21px;
}

.desc-footer-faleconosco ul li {
  list-style: none;
  text-decoration: none;
  font: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #999999;
  margin-bottom: 22px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.desc-footer-faleconosco-icons {
  width: 14px;
  height: 14px;
}

.footer-end {
  background-color: #0d0904;
  padding-top: 22px;
  padding-bottom: 22px;
}

.footer-end p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #b7b7b7;
  text-align: center;
}
