.tela {
  display: flex;
}

/* MENU LATERAL */
.menu-lateral {
  width: 220px;
  height: 100vh;
  background-color: #150e07;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.menu-lateral img {
  display: block;
  width: 150px;
  margin: 0 auto 10px;
  margin-bottom: 30px;
}

.menu-lateral p {
  margin-top: auto;
  color: #ccc;
  font-size: 13px;
  line-height: 1.4;
  padding: 0 20px;
  margin-bottom: 10px;
  text-align: center;
}

.menu-lateral a:last-of-type {
  background-color: #c19b70;
  color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 7px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 74px;
}

.menu-lateral a:last-of-type:hover {
  background-color: #8d5b1d;
  color: white;
}

.menu-lateral a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 12px 20px;
}

.menu-lateral a:hover {
  background-color: #495057;
}

/* CONTEÚDO PRINCIPAL */
.conteudo {
  margin-left: 220px;
  padding: 20px;
  width: 100%;
}

/* TOPO */
.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px 20px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* ÁREA DA TABELA */
.area-tabela {
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.botao-adicionar {
  background-color: #c19b70;
  border: none;
  font-weight: bold;
  font-size: 15px;
  padding: 8px 16px;
  border-radius: 8px;
}

.botao-adicionar:hover {
  background-color: #8d5b1d;
  border: none;
}

.menu-lateral a.ativo {
  background-color: #c19b70;
  color: #150e07;
  font-weight: semi-bold;
}

.menu-lateral a.ativo:hover {
  background-color: #c19b70;
  color: #150e07;
}

.area-tabela .btn-info,
.area-tabela .btn-danger {
  background-color: #c19b70;
  border: none;
  color: #ffffff;
  padding: 4px 20px;
}

.area-tabela .btn-info:hover,
.area-tabela .btn-danger:hover {
  background-color: #a1805c;
  border: none;
  color: #ffffff;
}

.pagination .page-link {
  color: #000000;
}
.pagination .page-item.active .page-link {
  background-color: #000000;
  border: none;
  color: #ffffff;
}

.pagination .page-item.active .page-link:hover {
  background-color: #000000;
  color: #ffffff;
}

.pagination .page-link:hover {
  background-color: #eeeeee;
}

.pagination .page-item.disabled .page-link {
  color: #6c757d;
}

/* MODAL DE CONFIRMAÇÃO CUSTOMIZADA */

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal-overlay.visivel {
  display: flex;
}

.modal-box {
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 450px;
  position: relative;
  animation: aparecer 0.3s ease-out;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.modal-header h3 {
  margin: 0;
  font-size: 20px;
}

.modal-fechar {
  background: none;
  border: none;
  font-size: 29px;
  line-height: 1;
  cursor: pointer;
  opacity: 0.7;
}
.modal-fechar:hover {
  opacity: 1;
}

/* Corpo */
.modal-body {
  margin-bottom: 20px;
  line-height: 1.6;
}
.modal-body .info-extra {
  font-size: 15px;
  color: #6c757d;
  margin-top: 10px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  border-top: 1px solid #dee2e6;
  padding-top: 15px;
}

.modal-footer button,
.modal-footer a {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

.modal-footer .btn-cancelar {
  background-color: #6c757d; /* Cinza */
  color: white;
}
.modal-footer .btn-cancelar:hover {
  background-color: #5a6268;
}

.modal-footer .btn-confirmar {
  background-color: #c19b70;
  color: white;
}
.modal-footer .btn-confirmar:hover {
  background-color: #a1805c;
}
