.sobre {
  padding-top: 60px;
  background-color: white;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.container-sobre {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  max-width: 1200px;
  margin-left: 355px;
}

.texto-sobre h1 {
  font-size: 100px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0%;
  font-family: "DM Serif Text", serif;
  color: #d2d2d24d;
}

.linha-decorativa {
  width: 80px;
  height: 3px;
  background-color: #c19b76;
  margin-bottom: 30px;
}

.texto-sobre h2 {
  font-size: 40px;
  font-family: "DM Serif Text", serif;
  letter-spacing: 0%;
  line-height: 46px;
  font-weight: 400;
  color: #262423;
  margin-top: -40px;
}

.p1-destaque {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0%;
  font-family: "DM Serif Text", serif;
  color: #262423;
}

.p2-texto {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  font-family: "Roboto";
  color: #262423;
}

.container-icones {
  display: flex;
  gap: 24px;
}

.icones {
  width: 269px;
  background-color: #f6f7f8;
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
  height: 129px;
}

.icones img {

height: 68px;
width: 60px;
}

.icones-texto h4{
  font-family: "DM Serif Text", serif;
  /* font-weight: 400; */
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #262423;

}

.icones-texto p{
  font-family: "DM Serif Text", serif;
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #7C7C7C;

}
