.footer {
  background-color: #150e07;
  max-width: 1920px;
  margin: 0 auto;
}

.container-footer {
  padding-top: 50px;
  padding-bottom: 10px;
  display: flex;
  margin: auto;
  width: fit-content;
}

.footer-initial-text {
  width: 561px;
  height: 56px;
  border-right: 1px solid #dddddd;
}

.footer-initial-text h4 {
  width: 304px;
  height: 26px;
  font-family: "DM Serif Text";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #ffffff;
}

.footer-initial-text p {
  width: 430px;
  height: 20px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #999999;
}

.input-footer {
  display: flex;
  overflow: hidden;
  padding-bottom: 60px;
}

.input-footer input {
  width: 455px;
  height: 51px;
  border: 1px solid #eeeeee;
  margin-left: 25px;
  padding-left: 13px;
  height: 53px;
}

.botao-email-footer {
  background-color: #c19b76;
  border: none;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0%;
  cursor: pointer;
  height: 53px;
  width: 105px;
}

.barra-central-footer {
  width: 1146px;
  height: 1px;
  background-color: #d3d3d3;
  margin: 0 auto;
}

.container-desc-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  gap: 24px;
  padding-bottom: 30px;
}

.desc-footer {
  /* margin-left: -60px; */
  /* margin-right: 13px; */
}

.desc-footer img {
  width: 170px;
  height: 35px;
  margin-bottom: 22px;
  margin-top: 36px;
}

.desc-footer p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #999999;
  padding-right: 40px;
}

.footer-icons a img {
  height: 28px;
  width: 26px;
  margin-right: 3px;
}

.desc-footer-links {
  padding-right: 238px;
}

.desc-footer-links h4 {
  font-family: "DM Serif Text";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0%;
  color: white;
  margin-bottom: 21px;
  margin-top: 30px;
}

.desc-footer-links ul li {
  list-style: none;
  margin-bottom: 12px;
}

.desc-footer-links ul li a {
  text-decoration: none;
  font: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #999999;
}

.desc-footer-acomodacoes {
  padding-right: 120px;
}

.desc-footer-acomodacoes h4 {
  font-family: "DM Serif Text";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0%;
  color: white;
  margin-top: 30px;
  margin-bottom: 21px;
}

.desc-footer-acomodacoes ul li {
  list-style: none;
  margin-bottom: 12px;
}

.desc-footer-acomodacoes ul li a {
  list-style: none;
  text-decoration: none;
  font: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #999999;
}

.desc-footer-faleconosco h4 {
  font-family: "DM Serif Text";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0%;
  color: white;
  margin-top: 30px;
  margin-bottom: 21px;
}

.desc-footer-faleconosco ul li {
  list-style: none;
  text-decoration: none;
  font: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #999999;
  margin-bottom: 22px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.desc-footer-faleconosco-icons {
  width: 14px;
  height: 14px;
}

.footer-end {
  background-color: #0d0904;
  padding-top: 22px;
  padding-bottom: 22px;
}

.footer-end p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #b7b7b7;
  text-align: center;
}
