
body {
    
background-color: rgb(61, 59, 59);

}


.page-wraper {


}

.container-header {

display: flex;    
align-items: center;
justify-content: space-between;
max-width: 1170px;
margin: 0 auto;
margin-left: 375px;
margin-top: 10px;
margin-right: 375px;

}

/* Header */

.header {

padding: 20px;


}

.logo-sharan {

/* width: 135.25px; */
/* height: 27.97px; */
height: 36px;
width: 174px;

}


.nav-menu {

 list-style: none; /* Remove as bolinhas  */
 display: flex;
 gap: 20px; /* Espacamento entre linhas */
 margin: 0px; 
 padding: 0px;
 line-height: 18px;
 letter-spacing: 2px;
 font-size: 12px;
 font-weight: 500;
}

.nav-menu li {

font-size: 14px;
cursor: pointer;
font-family: "Roboto" , sans-serif;

}

.nav-menu li a {

text-decoration: none;
color: white;
}

.nav-menu li a.menu-home {

color: #C19B76;

}


/* Header */
