/* ======== GERAL ======== */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fa;
}

.logo-login {
}

.logo-login img {
position: absolute;         /* <-- ADICIONE ISSO */
  top: 40px;                  /* <-- ADICIONE ISSO (distância do topo) */
  left: 50%;                  /* <-- ADICIONE ISSO (centraliza na horizontal) */
  transform: translateX(-50%)
}

.tela-login {
  display: flex;
  height: 100vh;
}

.lado-esquerdo {
background-color: #150e07;
  color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Isso agora vai centralizar SÓ o texto */
  align-items: center;    /* Isso agora vai centralizar SÓ o texto */
  text-align: center;
  padding: 40px;
  position: relative;
}

.lado-esquerdo h1 {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 10px;
}

.lado-esquerdo h2 {
  font-size: 24px;
  font-weight: normal;
  color: #e2b36e;
}

.lado-esquerdo p {
  font-size: 16px;
  color: #ddd;
  margin-top: 10px;
}

/* ======== LADO DIREITO ======== */
.lado-direito {
  background-color: #fff;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caixa-login {
  width: 100%;
  max-width: 350px;
  padding: 30px;
  border-radius: 8px;
  background-color: white;
}

.btn-login {
  background-color: #c19b70;
  color: white;
  border: none;
  font-weight: bold;
  padding: 10px;
  transition: background-color 0.2s;
}

.btn-login:hover {
  background-color: #a07e5e;
}

/* ======== RODAPÉ ======== */
.texto-rodape {
  font-size: 13px;
  color: #666;
}

/* ======== RESPONSIVO ======== */
@media (max-width: 768px) {
  .tela-login {
    flex-direction: column;
  }

  .lado-esquerdo,
  .lado-direito {
    width: 100%;
    height: 50%;
  }

  .lado-esquerdo {
    padding: 30px 15px;
  }
}
