.acomodacoes {
  background-color: #f6f7f8; 
  overflow: hidden;
  padding-left: 22px;
  max-width: 1920px;
  margin: 0 auto;
}

.acomodacoes-texto {
  margin-bottom: 80px;
}

.acomodacoes-texto h1 {
  font-family: "DM Serif Text";
  font-weight: 400;
  font-size: 100px;
  line-height: 46px;
  letter-spacing: 0%;
  color: #d2d2d24d;
  text-align: center;
  padding-top: 75px;
}

.acomodacoes-texto h2 {
  font-family: "DM Serif Text";
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  color: #262423;
  text-align: center;
  margin-bottom: 5px;
  margin-top: -30px;
}

.acomodacoes-linha {
  width: 80px;
  height: 3px;
  background-color: #c19b76;
  margin: 0 auto;
  margin-bottom: 30px;
}

.acomodacoes-texto ul {
  list-style: none;
  display: flex;
  justify-content: center;
  height: 21px;
  gap: 45px;
}

.acomodacoes-separacao {
  color: #262423;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0%;
}

.texto-todos {
  color: #c19b76;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0%;
  cursor: pointer;
}

.acomodacoes-lista {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0%;
  color: #262423;
  cursor: pointer;
}

.container-option {
  display: flex;
  padding: 24px 12px 107px;
  gap: 50px;
  margin: 0 auto;
  max-width: 1920px;
}

.acomodacoes-option {
  border: 3px solid black;
}

.container-imagem-option {
  margin-top: -80px;
  margin-left: -25px;
  margin-right: 15px;
}

.option-preco {
  font-family: "Roboto";
  font-weight: 300;
  font-style: light;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  color: #000000;
  padding-left: 36px;
  padding-top: 28px;
}

.option-rodape {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.option-detalhes {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  color: #000000;
  display: flex;
  padding-left: 30px;
  padding-bottom: 30px;
}

.option-detalhes p {
  margin-right: 23px;
}

.option-detalhes img {
  margin-right: 4px;
}

.option-botao {
  width: 120px;
  height: 43px;
  background-color: #c19b76;
  color: white;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0%;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 170px;
  border: none;
}
