.select-sharan {
  background-color: #c19b76;
  display: flex;
  align-items: center;
  width: 1146px;
  height: 111px;
  margin: 0 auto;
  gap: 21px;
  justify-content: space-around;
  padding-bottom: 20px;
  margin-top: -40px;
}

.text-checkbox p {



}

.reserva {
  font-size: 34px;
  letter-spacing: 0%;
  line-height: 40px;
  font-weight: 400;
  color: #262423;
  font-family: "Playfair Display", serif;
  width: 261px;
  height: 40px;
  position: relative;
  left: 15px;
}

.entrada-saida {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  color: white;
  font-family: "Roboto", sans-serif;
  line-height: 21px;
  letter-spacing: 0%;
  height: 21px;
  padding-bottom: 20px;

}

.input-entrada-saida {
  display: flex;
  width: 244px;
}
.input-entrada-saida input {
  width: 50%;
  border: none;
  margin: 0;
  padding: 0;
  border: 0;
  height: 40px;
}

.quarto {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  color: white;
  font-family: "Roboto", sans-serif;
  line-height: 21px;
  letter-spacing: 0%;
  height: 21px;
  padding-bottom: 20px;

}

.select-quarto {
  width: 164px;
}

.select-quarto select {
  border: none;
  border: none;
  margin: 0;
  padding: 0;
  border: 0;
  height: 40px;
  width: 100%;
}

.adulto {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  color: white;
  font-family: "Roboto", sans-serif;
  line-height: 21px;
  letter-spacing: 0%;
  height: 21px;
  padding-bottom: 20px;

}

.select-adulto {
  width: 164px;
}

.select-adulto select {
  border: none;
  border: none;
  margin: 0;
  padding: 0;
  border: 0;
  height: 40px;
  width: 100%;
}

.crianca {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  color: white;
  font-family: "Roboto", sans-serif;
  line-height: 21px;
  letter-spacing: 0%;
  height: 21px;
  padding-bottom: 20px;

}

.select-crianca {
  width: 164px;
}

.select-crianca select {
  border: none;
  border: none;
  margin: 0;
  padding: 0;
  border: 0;
  height: 40px;
  width: 100%;
}

.botao-enviar {
  background-color: #262423;
  width: 102px;
  height: 40px;
  color: white;
  margin-top: 40px;
}
